    
    

#container {
    width: 100%;
    margin: 1em auto;
    padding: 0;
    background:#fff;
    text-align: center;
}

.items {
    float: left;
    text-align: center;
    //height:150px;
    width: 244px;
    background:#ECECEC;
    margin-left: 2.5px;
    margin-right: 2.5px
    
}
.card-img-top{
    text-align: center;
    //margin: auto;
    width: 241px;
    margin-bottom: 15px;
}
.card-body{
    float: left;
    padding: 15px
}

#left, #right { 
    margin: 15px;    
}